# Rust
/rust-impl/target/
**/*.rs.bk
Cargo.lock

# Go
/go-impl/bin/
/go-impl/pkg/
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Build files
*.o
*.a
*.out

# Formal verification
*.vo
*.vok
*.vos
*.glob
*.aux
*.tlaps/
*.toolbox/
